ion-toolbar{
    --background:#34495E;
}

ion-title{
    position: absolute;
    color: white;
    margin-left: -60%;
    margin-top: 5px;
}
ion-back-button{
    color: white;
}

ion-card{
    border: 1px solid black;
}

ion-card-header{
    color: black;
}

ion-card-content{
    color: black;
}