<ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col>
            <ion-back-button defaultHref="/notification-list"></ion-back-button>
        </ion-col>
        <ion-col>
            <ion-title>Details</ion-title>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngFor="let item of items"> 
      <ion-card-header>
         <h4>{{item.title}}</h4>
      </ion-card-header>
      <ion-card-content>
        {{item.message}}
      </ion-card-content>
    </ion-card> 
  </ion-content>
  